@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
body {
  font-family: "Roboto", sans-serif !important;
  background-color: #f6f6f7 !important;
}

.card-shadow {
  box-shadow: 5px 5px 10px #a9a9aa77, inset -5px -5px 10px #ffffff7e;
  background-color: white;
  border-radius: 15px;
}
